@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

*{
    margin: 0;
}
body{
    background: #f0dd92;
    font-family: 'Questrial', sans-serif;
}

h1{
    margin: 5%;
}

button{
    margin: 5%;
    border: none;
    border-radius: 3%;
    width: 100px;
    height: 40px;
    background-color:#f0dd92;
}


input{
    border-radius: 1%;
    border: none;
    width: 300px;
    height: 40px;
}

select{
    border: none;
    width: 200px;
    height: 25px;
}

.tip-container{
    text-align: center;
    margin-top: 7%;
}

.tip-inner{
    font-size: 2rem;
    border-radius: 5%;
    height: 80%;
    width: 60%;
    display: inline-block;
    background: #83b582;
}

@media screen and (max-width: 600px){
    .tip-inner{
        font-size: 1rem;
    }

    input{
        width: 150px;
        height: 20px;
    }

    select{
        width: 150px;
        height: 25px;
    }

    .tip-container{
        margin-top: 50%; 
    }

    span{
        font-size: .8rem;
    }

    button{
        width: 50px;
        height: 20px;
    }
}